.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.card {
  width: 100%;
  max-width: 527px;
  border: 7px solid #ffffff;
  border-radius: 34px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.logo {
  width: 52px;
  height: 52px;
  padding: 8px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.title {
  margin: 0;
}

.content {
  border-radius: 34px;
  background-color: #f6f6f6;
  padding: 48px;
  border: 1px solid #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.footer {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: underline;
}
